/*Customization Settings/設定*/
:root {
    --accent1: #ffe5b4;
     --accent2: #ffe5b4;
    --text-color: #ffffff;
    --hp-ammo: #fff;
    --weapon-icon-brightness: 2;
}

/*Fonts*/
@font-face {
    font-family: gamefont;
    src: url(https://dl.dropboxusercontent.com/s/6jgx8qv7nikbln7/YuseiMagic-Regular.ttf?dl=0);
}

@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/9b7aer2osbcd388/logotypejp_mp_b_1.1.ttf?dl=0);
}

/*No one uses these*/
#aHolder, .endAHolder {
    display: none !important;
}

#onetrust-consent-sdk {
    display: none;
}

#newsHolder {
    display: none;
}

.krSocial {
    display: none;
}

.imageButton, #editorBtnM {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

#youNewDiv, #seasonLabel {
    display: none
}

#mainLogo {
    display: none
}

#streamContainer {
    display: none;
}

#uiBase.onMenu #instructions {
    display: none
}

/*Menu Options*/
#menuItemContainer {
    transition-duration: 0.25s;
    display: flex;
    flex-direction: row;
    top: 80px;
    width: 325px;
    height: 50px;
    background-color: #ffffff00
}

#menuItemContainer:hover:before {
    opacity: 0
}

.menuItem {
    background-color: transparent;
}

.menuItem .menuItemIcon {
    filter: brightness(100);
    height: 25px;
}

.menuItem:hover .menuItemTitle {
    color: var(--accent2);
}

.menuItem .menuItemTitle {
    font-size: 0px !important;
}

.menuItem:hover {
    border-left: none;
    transform: scale(1.125);
}

#menuMiniProfilePic {
    display: none !important;
}

.accountInput::placeholder {
    color: #000;
}

.accountInput {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    font-size: 22px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
    background-color: rgb(255 255 255);
    color: #000000;
}

.accountButton {
    color: #ffe5b4;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 342px;
    cursor: pointer;
    background-color: #ffffff0a;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0px;
}

#accResp {
    display: none;
}

.buttonP {
    background-color: #fff0 !important;
    box-shadow: inset 0 -0px 0 0 #672992!important;
}

.buttonP:hover {
    background-color: #fff0 !important;
    box-shadow: inset 0 -0px 0 0 #672992!important;
}

.button.lgn {
    font-size: 18px;
    padding-top: 5px;
    margin-top: 7px;
    font-size: 0;
}

#subLogoButtons {
    transform: unset;
    padding-bottom: 50px;
    padding-top: 50px;
    width: fit-content;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

#subLogoButtons>.button {
    background-color: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 16px !important;
    padding: 20px !important;
    margin: 0;
    color: var(--accent1);
}

.button.small:hover {
    color: var(--accent2);
}

.button.small {
    display: flex;
    justify-content: center;
    transition-duration: 0.25s;
}

#inviteButton:before {
    content: '招待';
    font-size: 18px;
    display: block;
    position: fixed;
    margin-top: -25px;
    pointer-events: none;
}

#menuBtnJoin:before {
    content: '参加';
    font-size: 18px;
    display: block;
    position: fixed;
    margin-top: -25px;
    pointer-events: none;
}

.button.buttonG:before {
    content: 'ランク';
    font-size: 18px;
    display: block;
    position: fixed;
    margin-top: -25px;
    pointer-events: none;
}

.button.buttonR:before {
    content: 'サーバー';
    font-size: 18px;
    display: block;
    position: fixed;
    margin-top: -25px;
    pointer-events: none;
}

.button.buttonP:before {
    content: 'ホスト';
    font-size: 18px;
    display: block;
    position: fixed;
    margin-top: -25px;
    pointer-events: none;
}

#customizeButton::before {
    font-size: 0
}

#customizeButton .material-icons {
    text-shadow: none
}

/*Headerbar Area*/
.headerBar {
    background-color: transparent;
}

.headerBarLeft {
    width: 296px;
    padding: 0 15px;
}

#signedInHeaderBar {
    padding-top: 10px;
    justify-content: center;
}

#menuAccountUsername {
    display: inline;
    max-width: 125px;
    overflow-x: scroll;
    font-size: 21px;
}

#menuAccountUsername::-webkit-scrollbar {
    display: none;
}

#menuKRCount {
    font-size: 22px;
}

.progressBar {
    background-color: rgba(255,255,255,0.05);
    padding: 0;
    border-radius: 4px;
    height: 8px;
    margin-top: 5px;
}

.progressBarInner {
    background: linear-gradient(45deg, var(--accent1), var(--accent2), var(--accent1));
    background-size: 200%;
}

.krSocial {
    display: none;
}

.imageButton {
    display: none !important;
}

#newsHolder {
    display: none;
}

.menuDebugInfo {
    transform: translateX(-50%);
    padding: 0px;
    margin-right: -20px;
}

#menuPingText, #menuFPSDisplay {
    font-size: 16px;
}

.headerBarRight {
    right: unset;
    left: 50%;
    top: 1%;
    padding: 0px;
    font-size: 35px;
    border-radius: 0;
    background: transparent !important;
    backdrop-filter: none;
    transform: translateX(-50%);
    height: auto;
}

#signedInHeaderBar, #signedOutHeaderBar {
    padding-top: 10px;
    justify-content: center;
    z-index: 5;
    background: transparent !important;
}

#uiBase.onMenu #mapInfo {
    position: fixed;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    z-index: 1;
}

.headerBarRight .verticalSeparator {
    display: none;
}

#mLevelCont {
    display: none;
}

/*Spectate Button*/
#uiBase.onMenu #spectButton {
    width: 48px;
    top: 150px;
    bottom: unset;
    right: calc(50% - 50px);
    left: unset;
}

#menuFPS, #menuPingDisplay .material-icons {
    color: var(--accent2) !important
}

#spectButton span[style="font-size:15px;color:rgba(255,255,255,0.6)"] {
    color: transparent !important;
}

#spectButton .switchsml {
    margin: 0;
    position: absolute;
    width: 100%;
}

.sliderSml {
    opacity: 1;
}

.sliderSml::before {
    content: "Spectate";
    font-size: 20px;
    color: white;
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
}

.sliderSml::before {
    content: "visibility_off";
    font-size: 32px;
    color: white;
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
    font-family: 'Material Icons';
}

input:checked+.sliderSml::before {
    content: "visibility";
    transform: unset;
}

input:checked+.sliderSml {
    background-color: transparent !important;
}

.sliderSml {
    opacity: 1;
    background-color: transparent;
}

/*KPD*/
#policeButton {
    margin: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
    padding: 0;
    text-shadow: none;
    position: absolute;
    bottom: 8px;
    left: calc(50% - 200px);
}

#policeButton img {
    display: none;
}

#policeButton::before {
    content: "local_police";
    font-size: 32px;
    font-family: 'Material Icons';
    color: #fff;
}

/*Customize*/
#menuClassContainer {
    right: calc(50% - 330px);
    transform: unset;
    top: unset;
    bottom: 10px;
    z-index: 1;
}

#bubbleContainer {
    display: none;
}

#menuClassNameTag {
    display: none;
}

#menuClassName {
    text-shadow: none;
    opacity: 0;
}

#menuClassSubtext {
    text-shadow: none;
}

#menuClassSubtext span {
    color: #fff0 !important;
}

#classPreviewCanvas {
    opacity: 1;
    transition-duration: 0.25s;
    transform: scale(0.7);
    margin-bottom: -75px;
}

#menuClassContainer:hover> #classPreviewCanvas {
    opacity: 1;
}

#customizeButton {
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 0px;
    height: 65px;
    font-size: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
    border-top: 3px solid var(--accent2);
}

/* Terms */
#mapInfoHolder {
    z-index: 1;
}

#termsInfo div.terms {
    display: none;
    z-index: 1 !important;
}

#termsInfo {
    z-index: -1 !important;
}

#termsInfo div.terms:last-child {
    display: block !important;
    color: white;
    font-size: 21px !important;
    z-index: 1 !important;
}

.verticalSeparatorInline {
    display: none;
}

#termsInfo {
    background-color: transparent;
    margin-bottom: -4px;
    z-index: 1 !important;
}

#termsInfo div.terms:last-child:before {
    content: 'CSS by AcidEyezZz#0007 ';
    margin-left: 5px !important;
    color: var(--accent2);
    z-index: 1 !important;
}

/* Chat */
#voiceDisplay {
    display: none;
}

#chatList[style*="display: block; opacity: 1; max-height: 250px;"] {
    max-height: 500px !important;
}

.chatItem{
    font-size: 21px;
}

#chatHolder {
    position: fixed;
    bottom: -2% !important;
    left: calc(50% + 315px);
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.chatTextOutline {
    text-shadow: none;
}

#uiBase.onMenu .chatItem {
    box-shadow: none;
}

.chatMsg {
    color: var(--text-color);
    text-align: right;
    align-items: right;
}

.chatMsg span[style*="#fff"] {
    color: var(--text-color) !important;
}

.chatMsg span[style*="#9eeb56"] {
    color: var(--text-color) !important;
}

.chatMsg[style="color:#fc03ec"] {
    color: var(--accent) !important;
}

#chatInput {
    color: #fff;
    background-color: #00000014;
    border-radius: 0px;
    transform: scale(0);
    height: 0;
    padding: 0;
    transition-duration: 0.25s;
    font-size: 16px;
}

#chatInput:focus {
    height: 100%;
    padding: 8px 16px;
    transform: scale(1);
}

#chatInput::placeholder {
    color: #fff;
}

.weaponChatIcon, .headShotChatIcon {
    filter: brightness(0.5);
}

/*Menu Window*/

#windowHeader {
    display: block;
    color: rgb(255 255 255 / 0%);
    padding-top: 200%;
    background: #00000030;
    backdrop-filter: blur(5px) !important;
    z-index: 9;
}

#menuWindow {
    max-height: calc(100% - 100px) !important;
    width: 1250px !important;
    height: 65%;
    background-color: #181715;
    box-shadow: none;
    z-index: 9
}

.serverHeader, .settingsHeader {
    background-color: transparent
}

.settName, .settNameSmall, .setHed, .setHed .material-icons {
    font-size: 22;
    color: var(--accent2) !important;
}

.settText, .settLabel {
    font-size: 32px;
    color: var(--accent2);
}

.settName .floatR {
    color: var(--text-color);
}

.floatR span[style="color:rgba(0,0,0,0.5)"] {
    color: var(--accent2) !important;
}

#menuWindow div[style="color:rgba(0,0,0,0.3);margin-top:-5px;margin-bottom:10px"] {
    display: none;
}

div[style="display:inline-block;vertical-align:top;width:560px;margin-left:10px"] {
    width: calc(100% - 130px) !important;
}

.menuTabsNew {
    border-radius: 0;
}

.menuTabNew {
    border-width: 0 !important;
    font-size: 20px;
    transition-duration: 0.25s;
    color: var(--text-color);
}

.menuTabNew.tabANew {
    color: var(--accent2);
}

.menuTabNew:hover {
    color: var(--accent2);
    opacity: 0.75;
}

.xpBar {
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 42px;
}

.xpBar[style*="margin-top:10px"] {
    margin-top: 0px !important;
}

.xpBarV {
    color: var(--accent2);
    font-size: 32px;
    text-align: right;
    top: 0px;
}

.xpBarB {
    display: none;
}

.xpBarV::before {
    content: "Progress";
    float: left;
    color: var(--text-color);
}

/* Settings */
.sliderM {
    background-color: rgb(255 255 255 / 12%);
    height: 12px;
}

#settSearch
{
   background-color: #fff;
}


select#settingsPreset.inputGrey2 {
    display: none;
}

.inputGrey2 {
    background-color: transparent;
    color: white;
}

.settingsBtn, #requiresRestart {
    background-color: transparent;
    color: var(--accent1);
}

#settSearch::placeholder {
    color: black
}

.sliderM::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--accent2);
}

.sliderVal {
    background-color: #000;
    border-radius: 0px;
}

.slider {
    background-color: transparent !important;
}

.slider:before {
    position: absolute;
    content: "off";
    line-height: 36px;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    color: white;
}

input:checked+.slider:before {
    transform: unset;
    content: "on";
    color: var(--accent2);
    overflow: hidden;
}

input[type=color] {
    border-radius: 0;
    border-color: var(--accent2);
    width: 62px;
}

.settingTab.tabANew {
    color: var(--accent2);
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, var(--accent2), var(--accent2));
    border-image-slice: 1;
}

.settingTab {
    color: var(--accent1);
}

/*Server List*/

.serverHeader {
    display: flex;
    justify-content: space-around;
}

.slider2 {
    border-radius: 0;
    background-color: #000;
}

input:checked+.slider2 {
    background-color: var(--accent2);
}

.slider2:before {
    border-radius: 0;
}

#hostMenuBtn {
    background-color: #000;
    border-radius: 0;
}

.menuSelectorHeader {
    width: calc(100% - 102px);
    font-size: 28px;
}

.plusOrMinus {
    color: var(--accent);
}

.quickJoin {
    border-radius: 0;
    background-color: #000;
}

.serverPing {
    display: none !important;
}

.menuSelectorHeader, .menuSelectorHeader span, .menuSelector, .serverPCount, .serverRegion {
    color: white !important
}

/* Class Card */
.classCard, .classWeap,.classHP, .classHP span {
    color: transparent !important;
    text-shadow: none;
    font-size: 0px !important;
}

.classCard {
    background-color: #ffffff24 !important
}

.classLvl {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 0px !important;
    transition-duration: 0.25s;
}

.classImgC {
    margin-top: 55px
}

.classXPBar {
    background-color: #ffffff36;
    border-radius: 0px;
    height: 0px !important;
    transition-duration: 0.25s;
}

.classCard:hover .classXPBar {
    height: 20px !important
}

.classCard:hover .clsXPBarC {
    height: 12px !important
}

.classCard:hover .classLvl {
    font-size: large !important;
    color: #ffe5b4
}

.clsXPBarC {
    background-color: #ffe5b4;
    border-radius: 0px;
    height: 0px !important;
    transition-duration: 0.25s;
}

.selectedItem img, #selectorContainer img {
    filter: brightness(1000) !important
}

.selectorLabel {
    font-size: 0px;
}

#selectorContainer, .selectorItem {
    background-color: transparent
}

.selectedItem {
    background-color: #ffffff24 !important
}

.selectorItem .selectorIcon {
    margin-top: 1px;
}

.contCanSelect .settName, .contCanSelect .settLabel {
    display: none
}

.custContainer, .contCanSelect .custContainer {
    width: 180px !important;
    margin-left: 10px;
    background-color: #ffffff24 !important;
    border: 2px solid white;
}

/* Skin Select */
#itemSearchH {
    background-color: transparent;
}

.skinCard {
    background-color: #ffffff24 !important;
    width: 210px !important;
    border-radius: 0px;
    text-align: right;
    text-shadow: none;
    margin-left: 10px;
    border: none !important;
}

.itemOwn {
    text-align: right;
    text-shadow: none;
}

/* Shop */
.shopCard {
    font-size: 0
}

.spinVal {
    background-color: #0000008f;
    font-size: 0px !important;
    height: 110%;
    margin-top: -10px;
}

/* Challenges */
.chalCard {
    background-color: #ffffff1c;
    backdrop-filter: blur(4px);
    margin-left: 10px
}

.chalXPBarC {
    background-color: #ffe5b4;
}

.chalProg {
    color: black;
    text-shadow: none;
    font-size: 21px;
    text-align: left;
    text-indent: 10px;
}

.chalXPBar {
    background-color: transparent;
}

.chalImgC {
    background-color: transparent;
}

/* Mod Page */
.mapListItem {
    width: 400px;
}

.mapListThumb {
    width: 390px;
    height: 150px;
}

.mapListItem [style="height:100px;width:220px;overflow: hidden;"] {
    width: 390px !important;
    overflow: visible !important;
    height: 150px !important;
}

.mapListItem {
    height: 200px;
}

.mapByTxt, .mapByTxt .grey, .mapListItem [style="font-size:15px;text-align:right;flex-grow:1"], .mapListItem a {
    color: #ffe5b4 !important
}

.mapActionOvrl {
    height: 152px;
    background-color: #ffffff12;
    backdrop-filter: blur(4px)
}

.mapListItem {
    background-color: #ffffff12
}

.mapAgeD {
    background-color: #ffe5b4 !important;
    font-size: 18px;
    position: absolute;
    top: unset;
    bottom: 53px;
    left: calc(50% + -45px);
    color: black;
}

.menuLink {
    color: #ffe5b4 !important
}

#modDropper {
    border: 2px solid #ffe5b4
}

#modDropper p, #modPckHead {
    color: #ffe5b4
}

.accountInput {
    background-color: transparent;
    border-bottom: 2px solid #ffe5b4
}

.accountInput::placeholder {
    color: #ffe5b4
}

#modVote {
    position: fixed;
    bottom: 10px;
    left: unset;
    right: 10px;
    top: 10px;
}

#modVote .material-icons {
    color: #ffe5b4
}

.voteHint {
    background-color: #ffe5b4 !important;
    color: black;
    text-shadow: none
}

/* Host game */

.hostMap{
    border-radius: 0px !important;
    border: solid var(--accent2);
    margin-right: 8px;
}

.hostMap img{
    filter: grayscale(100%);
    transition-duration: 0.25s;
    width: 232px;
}

.hostMap{
    border: none;
    margin-left: 5px;
    border-radius: 9px;
}

.hostMap:hover img{
    filter: grayscale(0%) brightness(1)
}

.hostMapBy, .hostMapYear, .hostMapVersion {
    display: none;
}

.hostMapName {
    top: -20%;
    left: 50%;
    font-size: 24px;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition-duration: 0.25s;
}

.hostMap .blackShad {
    text-shadow: none;
}

.hostMap:hover .hostMapName{
    color: var(--accent2);
    top: 50%
}

input:checked+.optCheck{
    background-color: var(--accent2);
}

.optCheck{
    transition-duration: 0.25s;
}

.optName{
    text-shadow: none;
    color: black;
    font-size: 21px;
}

/* Section II Ingame */

/*Weapon Display*/

#weapDisplay {
    position: fixed;
    right: calc(50% + -140px)!important;
    bottom: 15px !important;
}

.weapIcon {
    filter: brightness(1) drop-shadow(1px 1px 1px var(--accent2)) drop-shadow(-1px -1px 1px var(--accent2)) drop-shadow(-1px 1px 1px var(--accent2)) drop-shadow(1px 1px 1px var(--accent2)) drop-shadow(1px -1.5px 1px var(--accent2)) !important;
    opacity: 0 !important;
    transition-duration: 0.25s;
    height: 0px;
    width: 160px;
}

.weapItem {
    position: absolute;
    bottom: 0;
    right: 0;
}

.weapIcon[style*="1"] {
    opacity: 1 !important;
    height: 80px;
    width: 160px;
}

#weapIconMel {
    margin: 0 !important;
}

.weapKey {
    display: none;
}
/* Health */

#hudClassIcon{
    position: fixed;
    bottom: -1.75% !important;
    left: calc(50% + -255px) !important;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 0px !important;
    width: 85px !important;
    height: auto;
}

.healthBarSeg:first-child .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(2) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(3) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(4) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(5) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(6) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

.healthBarSeg:nth-child(7) .hpBSeg {
    background: linear-gradient(90deg,var(--accent2), var(--accent2));
}

#hudClassImg{
    border-radius: 0px
}

.hpBSeg {
    border-radius: 50% !important;
    height: 40px;
    background-color: var(--accent) !important;
    box-shadow: none !important;
    transform: scale(0.8)
}

.healthBarSeg{
    border-radius: 50% !important;
    height: 40px; 
    border: 5px solid white 
}

#healthBar{
    bottom: 6%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

#healthValueHolder {
    background-color: rgba(0, 0, 0, 0);
    bottom: -3%;
    left: 45.35%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

#healthValue {
    color: var(--accent2);
    text-shadow: 2px 2px 0px #000 !important;
    font-size: 64px;
}

#healthValue::after{
    content: 'HP';
    font-size: 32px;
    margin-left: -20px;
}

#challIcon {
    display: none;
}

#maxHP {
    display: none
}

/* Ammo */

#ammoDisplay {
    position: fixed;
    bottom: 7%;
    left: calc(50% - 25px);
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 64px;
    background-position-y: -105px;
    background-position-x: 18px;
    padding-bottom: 12px;
    height: auto;
    width: fit-content;
    text-align: end;
    border-radius: 0;
    background-color: #ffffff00;
    background-image: linear-gradient(to right, var(--accent2), var(--accent2));
    direction: rtl;
}
#ammoDisplay[style*="background-size: 0%;"] {
    background-size: 80% !important;
    background-image: linear-gradient(to right, #ffffff00, #ffffff00);
    border-radius: 32px !important
}
#ammoVal {
    font-size: 64px;
    color: var(--accent2);
    text-shadow: 2px 2px 0px #000 !important;
}
#ammoMax {
    display: none;
}
#ammoIcon {
    display: none
}
#reloadMsg {
    bottom: calc(50% - 200px);
    background-image: none;
    color: var(--accent);
    font-family: 'Material Icons';
    font-size: 0;
    animation: breathe 1s infinite alternate;
}

#reloadMsg::before {
    content: "report_problem";
    font-size: 64px;
}

@keyframes breathe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Score Board */

.newLeaderContainer {
    background-color: rgb(255 255 255 / 44%);
    border-radius: 0px;
    backdrop-filter: blur(5px)
}

#newLeaderDisplay {
    font-size: 25px;
}

.newLeaderItem {
    font-size: 18px
}


/* Timer */

#timerIcon{
    display: none
}

#timerDisplay {
    background-color: transparent;
}

#timerVal {
    font-size: 62px;
    text-shadow: 2px 2px 0px #000 !important;
}

#curGameInfo{
    display: none
}

.debugInfo{
    position: absolute;
    top: 100px;
    left: 20px;
}

#pingDisplay .material-icons, #ingameFPS{
    color: var(--accent2) !important;
}