---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Font';
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2');
}

 body{
  font-family: 'Font';
}

body, #header_wrap, #footer_wrap{
  background: pink;
}

h1#krunker-css-{
  display: none;
}

p#useless{
  display: none;
}

#Acid {
  width: 155px;
  height: auto;
  position: fixed;
  left: 10px;
  bottom: 350px;
  border: 2px solid #000;
  background: black;
}

#price_content_wrap{
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111
}

#PP{
  position: fixed;
  top: 1px;
  right: 1px;
  color: white;
}

#PP:hover{
   text-decoration: none;
}

#others{
   position: fixed;
   top: 20px;
   right: 1px;
   font-size: 14px;
}

#more{
   position: fixed;
   top: 45px;
   font-size: 18.5px;
   right: 1px;
}