---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Font';
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2');
}

 body{
  font-family: 'Font';
}

body, #header_wrap, #footer_wrap{
  background: pink;
}

h1#krunker-css-{
  display: none;
}

p#useless{
  display: none;
}

#Acid {
  width: 155px;
  height: auto;
  right: 10px;
  bottom: 30px;
  border: 2px solid #000;
  background: black;
  position: absolute;
  box-shadow: 0 0 8px 6px #ff98ff;
}

#price_content_wrap{
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111
}

#PP{
  position: fixed;
  top: 1px;
  right: 1px;
  color: rgb(0, 0, 0);
}

#PP:hover{
   text-decoration: none;
}

#others{
   position: fixed;
   top: 20px;
   right: 1px;
   font-size: 14px;
}

#more{
   position: fixed;
   top: 45px;
   font-size: 18.5px;
   right: 1px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url("../images/blacktocat.png") #000 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0px 0px 12px 12px;
  right: unset;
}

#mentions_content.inner {
  top: -50px;
  left: -0px;
  color: black;
  text-align: left;
}

#main_content{
  padding-top: 0px;
}

header.inner, footer.inner,#main_content.inner, #price_content.inner, #mentions_content.inner{
  max-width: 100%;
}

a#server{
  color: #ff98ff;
  text-decoration: underline;
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}