---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Font';
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2');
}

 body{
  font-family: 'Font';
}

body, #header_wrap, #footer_wrap{
  background: pink;
}

h1#krunker-css-{
  display: none;
}

p#useless{
  display: none;
}

#Acid{
  width: 75px;
  height: auto;
  position: absolute;
  left: 100px;
  bottom: 10px;
  border: 2px solid black
}