<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title"> <h1>Hello, I'm AcidEyezZz</h1></h1>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <div id="mentions" class="outer">
      <section id="mentions_content" class="inner">
          <p id="rec">I will not recreate anyones personal CSS.</p>
          <p id="ideas">Ideas thought of beforehand would be appreciated.</p>
          <p id="trace">No sharing!</p>
    </section>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
          <h1 id="CSS">Commissions almost always open</h1>
          <img src="https://media.tenor.com/images/79bdda4c8268fbd3bbfae523fa8f91c2/tenor.gif" id="Acid">

  <p id="socials">Dm me on discord or twitter for a css</p>
  <p id='Discord'>AcidEyezZz#0007 on discord</p> 
  <p id="tweet">@AcidEyezZz on twitter</p>
      </section>
    </div>

    <div id="price_content_wrap" class="outer">
        <section id="price_content" class="inner">
            <p id="pay">I accept Giftcards, Nitro, KR, and Skins for commissions</p>
            <p id="price">Price All depends on what you want. We can negotiate in DMS</p>
            <p id="dms">DMS are open, my friend requests are off</p>
            <a id= "server"href="https://discord.gg/WP7PTFYUqx">Join KrunkHub XYZ for css and help!</a>
      </section>
      <section>
          <a id="PP">Other CSS makers I recommend</a>
          <p id="others">nxxh#8084 - tae#4444 - Reverb#9999 - Blank#2145 - vl#5058</p>
          <h1 id='more'>They are all creators I recommend, they all charge differently though.</h1>
      </section>
    </div>
  </body>
</html>